body {
    background-color: #fff9bc;
    font-family: Verdana, Helvetica, Arial;
    font-size: 14px;
}

a img {
    border: none;
}

a {
    color: #0000FF;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

#container {
    width: 500px;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px black;
    margin-top: 20px;
}

form input {
    font-size: 20px;
}
form input[type='text'] {
    width: 435px;
}
form textarea {
    width: 435px;
    height: 100px;
}
form input[type='submit'], #create, #categories {
    -webkit-appearance: caret;
    font-size: 14px;
    font-size: 13px;
    padding: 5px 10px 6px 10px;
    font-weight: bold;
    border: 1px solid #466A98;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #FFF;
    background: #24882B;
    background: -webkit-gradient(linear, left top, left bottom, from(#32BE39), to(#247B28));
    background: -moz-linear-gradient(top,  #32BE39,  #247B28);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32BE39', endColorstr='#247B28');
    text-decoration: none;
    text-shadow: 0 -1px 0 #036;
    text-align: middle;
    vertical-align: top;
}

#categories {
    float: right;
    background: #003366;
}

#create, #categories{
    margin: 20px auto;
}

#create a, #categories a{
    color: #FFF;
    text-decoration: none;
}
.delete {
    color: #006400;
    margin-top: -15px;
    margin-right: -35px;
    font-size: 10px;
    text-align: right;
}

a {
    margin-left: 5px;
    text-decoration: none;
    color: teal;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin: 10px 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    border-top: solid 1px #CCC;
    width: 457px;
}

li {
    border-bottom: solid 1px #CCC;
    padding: 10px 10px;
    font-size: 16px;
    position: relative;
}
li.list {
    margin-right: 0px
}

a.points_button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    width: 190px;
    color: #fff;
    background: #38a0b9;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;

}

.round {
    -moz-border-radius:    8px;
    -webkit-border-radius: 8px;
    border-radius:         8px;
}

header {
    padding-top: 20px;
}

header img {
    padding: 0.4em;
    background: #ffffff;
    height: 15%;
    weight: 15%;
}

section {
    margin-top: 1em;
    font-size: 120%;
    padding: 20px;
    background: #fff;
}

section h1 {
    font-size: 200%;
}

/* Links */

a {
    color: #09c;
    text-decoration: none;
}

a:hover {
    color: #069;
    text-decoration: underline;
}

a:visited {
    color: #069;
}

nav {
    float: right;
}

nav {
    background-color: #ffffff;
    padding: 0 0.7em;
    white-space: nowrap;
    /*margin-top: -85px;*/
}

nav ul {
    margin: 5px;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

nav ul li a {
    padding: 0 12px;
    font-weight: bold;
}

nav ul li a:visited {
    color: #4fabda;
}

nav ul li a:hover {
    text-decoration: underline;
}

a.signup_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 190px;
    color: #fff;
    background: #38a0b9;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
}

a.points_button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    width: 190px;
    color: #fff;
    background: #38a0b9;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;

}

a.news_button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;

    text-align: center;
    width: 190px;
    color: #fff;
    background: #ffff00;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
}

a.context_button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;

    text-align: center;
    width: 190px;
    color: #fff;
    background: red;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
 }
a.galleries_button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;

    text-align: center;
    width: 190px;
    color: #fff;
    background: green;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
}

.round {
    -moz-border-radius:    8px;
    -webkit-border-radius: 8px;
    border-radius:         8px;
}

footer {
    text-align: center;
    margin-top: 10px;
    width: 710px;
    margin-left: auto;
    margin-right: auto;
}

footer nav {
    float: none;
}
/* User show page */

table.profile {
    width: 100%;
    margin-bottom: 0;
}

td.main {
    width: 70%;
    padding: 1em;
}

td.sidebar {
    width: 30%;
    padding: 1em;
    vertical-align: top;
    background: #ffc;
}








